
= content_for(:javascript_epilogue) do
  :plain
    document.observe("dom:loaded", function() {
      new Effect.Move("standalone", { x:0, y:-16, mode:"relative", fps:100, duration:0.15, afterFinishInternal: function(effect) {
        new Effect.Move("standalone", { x:0, y:16, mode:"relative", fps:100, duration:0.15, afterFinishInternal: function(effect) {
          new Effect.Move("standalone", { x:0, y:-8, mode:"relative", fps:100, duration:0.15, afterFinishInternal: function(effect) {
            new Effect.Move("standalone", { x:0, y:8, mode:"relative", fps:100, duration:0.15 });
          }});
        }});
      }});
    });

.standalone#standalone
  -# The following form gets submitted to #create when @authentication is nil,
  -# or to #update when @authentication is not nil (ex. suspended).

  = form_tag authentication_path, :html => one_submit_only(:authentication) do |f|
    - if can_signup?
      .title_tools #{t :no_account} #{link_to t(:sign_up_now), signup_path}
    .title= t(:login)
    .section{:style => "overflow:hidden; *height: 1%;"}
      .label= t(:username) + ':'
      = text_field_tag :username
      .label= t(:password) + ':'
      = password_field_tag :password

      = submit_tag t(:login), :style => "margin-top:10px; font-size:18px;"

